body {
  > a.select, > b > a.select {
    font-weight: bold;
  }
  > b {
    font-weight: normal;
  }
}
#cattable, #findresult {
  border: 1px solid #800000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;

  > div.cell {
    border: 1px solid #800000;
    margin: 1px;
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 65px;
  }
}
.resnum {
  margin-left: 2px;
  font-size: 70%;

  .resup & {
    color: #f02020;
  }
  .resdown & {
    color: #2020f0;
  }
  .catup & {
    color: #f02020;
  }
}
.resup {
  background-color: #fce0d6;
}
.resdown {
  background-color: #cccccc;
}
.reseq {
  background-color: #cccccc;
}
.thrnew {
  background-color: #fce0d6;
}
#controller {
  text-align: center;
  > * {
    vertical-align: middle;
  }
  > input[type="search"] {
    font-size: small;
  }
}
