table.resnew > tbody > tr > td.rtd {
  background-color: #fce0d6;

  > .rsc {
    font-weight: bold;
  }
}
body.filter-resnew {
  div.thre table:not(.resnew) {
    display: none;
  }
  #gallery > div:not(.resnew) {
    display: none;
  }
  #image-view {
    > .image-slider > div:not(.resnew),
    > .image-thumbs > img:not(.resnew) {
      display: none;
    }
  }
}
body.filter-images {
  div.thre table:not(.resimg) {
    display: none;
  }
}
#auto-scroll-status {
  background-color: rgba(200, 200, 200, 0.8);
  color: rgb(100, 100, 100);
  font-size: 80%;
  position: fixed;
  bottom: 50px;
  right: 10px;
  z-index: 1000;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 2px;
}
#commands {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
  text-align: center;

  > a {
    background-color: rgb(200, 200, 200);
    border: 2px outset rgb(200, 200, 200);
    color: rgb(100, 100, 100);
    cursor: pointer;
    display: block;

    &:hover {
      color: rgb(200, 0, 0);
    }
    &.enable {
      background-color: rgb(150, 150, 150);
      border-style: inset;
      color: rgb(200, 0, 0);
      &:hover {
        color: rgb(100, 100, 100);
      }
    }
    &.cornar-first {
      border-radius: 5px / 20% 20% 0 0;
    }
    &.cornar-last {
      border-radius: 5px / 0 0 20% 20%;
    }
  }

  #auto-update-interval {
    display: block;
    width: 100px;
    height: 25px;
  }

  #goto-btn {
    padding: 2px;

    > a {
      background-color: rgb(230, 190, 190);
      color: rgb(150, 0, 0);
      cursor: pointer;
      display: inline-block;
      font-weight: bold;
      opacity: 0.8;

      &:hover {
        color: rgb(200, 0, 0);
      }
    }
  }
}
@mixin saved-label($font-size) {
  color: rgb(19, 146, 19);
  font-weight: bold;
  font-size: $font-size;
  content: "\u2714";
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgb(0, 80, 0);
  width: 1.2em;
  height: 1.2em;
  opacity: 0.8;
}
#gallery {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  overflow-y: scroll;

  > div {
    display: inline-block;
    vertical-align: top;
    color: rgb(100, 100, 100);
    font-size: 80%;
    background-color: rgb(20, 20, 20);
    width: 250px;
    height: calc(250px + 1.5em);
    margin: 1em;

    @mixin filetype-label($bgcolor) {
      border: 2px solid $bgcolor;

      &::before {
        color: rgb(200, 200, 200);
        font-weight: bold;
        font-size: 9pt;
        content: attr(data-ext);
        position: absolute;
        right: 0;
        top: 0;
        background-color: $bgcolor;
      }
    }

    > a {
      display: inline-block;
      width: 250px;
      height: 250px;
      position: relative;

      > img {
        margin: 0;
        width: 250px;
        height: 250px;
        object-fit: contain;
        object-position: 50% 50%;
      }
    }

    &.saved > a::before {
      @include saved-label(14pt);
    }

    &.movie {
      > div {
        z-index: 1000;
        position: absolute;

        > video {
          max-width: none !important;
          max-height: none !important;
          width: 250px;
          height: 250px;
        }
      }

      > a {
        @include filetype-label(rgb(150, 0, 0));
      }
    }

    &.anime {
      > a {
        @include filetype-label(rgb(0, 80, 0));
      }
    }
  }
}
#image-view {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;

  > .image-slider {
    display: flex;
    align-items: center;
    flex-direction: row;
    transition: all 300ms 0s ease;
    width: 100%;
    height: calc(100% - 50px);
    > div {
      flex-basis: 100%;
      flex-shrink: 0;
      text-align: center;
      > div {
        display: inline-block;
        > video {
          object-fit: contain;
          object-position: center;
          max-width: calc(100% - 30px) !important;
          max-height: calc(100vh - 50px) !important;
        }
      }
      > a {
        display: inline-block;
        position: relative;
      }
      > a > img {
        object-fit: contain;
        object-position: center;
        max-width: 100%;
        max-height: calc(100vh - 50px);
      }
      &.saved > a::before {
        @include saved-label(14pt);
      }
    }
  }

  > .image-thumbs {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 50px;
    position: fixed;
    left: 0;
    bottom: 0;

    > div {
      background-color: black;
      flex-basis: 50px;
      flex-shrink: 0;
      width: 50px;
      height: 50px;
      border: 2px solid rgba(0, 0, 0, 0.9);
      box-sizing: border-box;
      position: relative;

      > img {
        object-fit: scale-down;
        object-position: center;
        width: 100%;
        height: 100%;
      }
      &.active {
        border: 2px solid rgb(200, 0, 0);
      }
      &.saved::before {
        @include saved-label(11pt);
      }
    }
  }

  > .image-number {
    background-color: rgba(200, 200, 200, 0.8);
    color: rgb(20, 20, 20);
    font-weight: bold;
    font-size: small;
    position: fixed;
    left: 0;
    top: 0;
    padding: 0.5em;
  }
}
#readmarker {
  > span {
    vertical-align: middle;
    font-size: small;
    font-style: italic;
  }

  > hr {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    border: 1px dashed rgb(150, 0, 0);
  }
}
#saving-popup {
  background-color: rgb(20, 20, 20);
  color: rgb(150, 150, 150);
  position: fixed;
  bottom: 0;
  right: 0;
  text-align: center;
  z-index: 2000;
  padding: 0.5em;
  opacity: 0.8;
}
